streamlit==1.32.0
langchain==0.1.12
langchain-community==0.0.28
pypdf==4.0.1
faiss-cpu==1.7.4.post2
python-dotenv==1.0.1
transformers==4.51.3
sentence-transformers==4.1.0
torch==2.2.0
huggingface-hub==0.30.2
gensim==4.3.2 